# Ignore the data directory
data/raw/
data/processed/

# Ignore large CSV and JSON files specifically
*.csv
*.jsonl
*.pcap

# Ignore Python environment and cache
__pycache__/
.venv/
.env
.ipynb_checkpoints/
